USE [master]
GO
/****** Object:  Database [EERDBS-20]    Script Date: 10/9/2025 7:26:55 PM ******/
CREATE DATABASE [EERDBS-20]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EERDBS-20', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EERDBS-20.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EERDBS-20_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EERDBS-20_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EERDBS-20].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EERDBS-20]
GO
/****** Object:  Table [dbo].[Purchase_Table]    Script Date: 10/9/2025 7:26:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase_Table](
	[ReceiptNo] [tinyint] NOT NULL,
	[Item_Description] [nvarchar](200) NOT NULL,
	[Subtotal] [money] NOT NULL,
	[Savings] [money] NOT NULL,
	[Tax] [money] NOT NULL,
	[Total] [money] NOT NULL,
	[Pay_Method] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Purchase_Table] PRIMARY KEY CLUSTERED 
(
	[ReceiptNo] ASC,
	[Item_Description] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reciepts_Table]    Script Date: 10/9/2025 7:26:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reciepts_Table](
	[ReceiptNo] [tinyint] NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Owner] [nvarchar](50) NOT NULL,
	[Store_ID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Reciepts_Table] PRIMARY KEY CLUSTERED 
(
	[ReceiptNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Store_Table]    Script Date: 10/9/2025 7:26:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store_Table](
	[Store_ID] [nvarchar](50) NOT NULL,
	[Name_Store] [nvarchar](100) NOT NULL,
	[Location_Address] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Website_Source] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Store_Table] PRIMARY KEY CLUSTERED 
(
	[Store_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Purchase_Table] ([ReceiptNo], [Item_Description], [Subtotal], [Savings], [Tax], [Total], [Pay_Method]) VALUES (3, N'Irish Spring soap', 1.2500, 0.0000, 0.0900, 1.3400, N'Apple Pay')
INSERT [dbo].[Purchase_Table] ([ReceiptNo], [Item_Description], [Subtotal], [Savings], [Tax], [Total], [Pay_Method]) VALUES (4, N'Hanger closet', 1.2500, 0.0000, 0.0900, 1.3400, N'Apple Pay')
INSERT [dbo].[Purchase_Table] ([ReceiptNo], [Item_Description], [Subtotal], [Savings], [Tax], [Total], [Pay_Method]) VALUES (5, N'Hand sanitizer soap', 1.2500, 0.0000, 0.0900, 1.3400, N'Apple Pay')
GO
INSERT [dbo].[Reciepts_Table] ([ReceiptNo], [Type], [Owner], [Store_ID]) VALUES (1, N'Retail', N'DG', N'196')
INSERT [dbo].[Reciepts_Table] ([ReceiptNo], [Type], [Owner], [Store_ID]) VALUES (2, N'Retail', N'DG', N'196')
INSERT [dbo].[Reciepts_Table] ([ReceiptNo], [Type], [Owner], [Store_ID]) VALUES (3, N'Retail', N'DG', N'196')
GO
INSERT [dbo].[Store_Table] ([Store_ID], [Name_Store], [Location_Address], [Phone], [Website_Source]) VALUES (N'1', N'Pérez Art Museum Miami', N'1103 Biscayne Blvd, Miami, FL 33132', N'(305) 375-3000', N'pamm.org')
INSERT [dbo].[Store_Table] ([Store_ID], [Name_Store], [Location_Address], [Phone], [Website_Source]) VALUES (N'12', N'USF Institute of Electrical and Electronics Engineers', N'10342 Rosemount Drive, Tampa, FL 33624', N'(813) 974-2011', N'PayPal')
INSERT [dbo].[Store_Table] ([Store_ID], [Name_Store], [Location_Address], [Phone], [Website_Source]) VALUES (N'170', N'Chick-fil-A', N'3019 Cove Bend Dr, Tampa, FL 33613', N'(813) 866-7706', N'https://www.chick-fil-a.com/?utm_')
GO
ALTER TABLE [dbo].[Purchase_Table]  WITH CHECK ADD  CONSTRAINT [FK_Purchase_Table_Reciepts_Table] FOREIGN KEY([ReceiptNo])
REFERENCES [dbo].[Reciepts_Table] ([ReceiptNo])
GO
ALTER TABLE [dbo].[Purchase_Table] CHECK CONSTRAINT [FK_Purchase_Table_Reciepts_Table]
GO
ALTER TABLE [dbo].[Reciepts_Table]  WITH CHECK ADD  CONSTRAINT [FK_Reciepts_Table_Store_Table1] FOREIGN KEY([Store_ID])
REFERENCES [dbo].[Store_Table] ([Store_ID])
GO
ALTER TABLE [dbo].[Reciepts_Table] CHECK CONSTRAINT [FK_Reciepts_Table_Store_Table1]
GO
USE [master]
GO
